.password-field {
    -fx-background-color: white;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: black;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.password-field:focused {
    -fx-border-color: #9999cc;
}

.button {
    -fx-background-color: #9999cc;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-background-insets: 0;
    -fx-padding: 6px 12px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #9999cc;
    -fx-border-color: #9999cc;
}

.title-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}